main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#welcome {
    margin-bottom: 0;
    font-size: smaller;
    color:dimgray;
}

#title {
    margin-top: 0;
    font-size:5em;
    color: #4b4b4b;
}
