#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    /* gap: 100px; */
    
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
}

#etiquete {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nfl {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: larger;
}

label {
    color: #BF8282;
    text-align: left;
}

input {
    /* margin-bottom: 10px; */
    width: 300px;
    height: 40px;
    margin-left: auto;
}

#submit {
    font-size: larger;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: auto;
    height: 200px;
    font-family: 'Times';
    background-color: white;
    border-width: 0;
    color: #4b4b4b;
    border-radius: 10px;
    border: 4px double #cccccc;
}