body, html {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#welcome {
    margin-bottom: 0;
    font-weight: normal;
    font-size: smaller;
    color:white;
}

.title {
    margin-top: 0;
}
