body {
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 0;
}

.response {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.tag:nth-child(even) {
    margin-left: 220px;
}

.tag:nth-child(odd) {
    margin-right: 220px;
}

.tag {
    width: 250px;
    height: 80px;
    text-align: center;
    border: 2px solid #BF8282;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value {
    color: #BF8282;
    text-transform:none;
    margin-left: 5px;
}