h1 {
    height: 200px;
    margin-top: 0;
    padding-top: 80px;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 20px;
}

.strip {
    text-decoration: none;
    font-family: 'Times';
    width: calc(100% - 100px);
    text-align: left;
    text-transform: uppercase;
    font-size: xx-large;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    color: #BF8282;
    background-color: black;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: color 0.5s, background-color 0.5s ease;
    position: relative;
}

.strip:hover {
    background-color: white;
    text-shadow: 2px 2px 6px #BF8282;
}

.strip::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #BF8282;
    z-index: 1;
    transition: right 0.5s ease;
}

.strip:hover::after {
    right: 100px;
}
