html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Times';
    background-color: black;
    text-transform: uppercase;
}

#webserv {
    color: white;
    font-size:5em;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

.pagesTitle {
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 40px;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 2px solid #4b4b4b;

    color: white;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: normal;
}

.indexButton { /* style du bouton index */
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: larger;
    text-transform: uppercase;
    font-family: 'Times';
    background-color: #BF8282;
    border-radius: 10px;
    border: 4px double #BF8282;
    width: 170px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.index { /* position du bouton index */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -40px;
    z-index: 999;
}